<!-- Importa a estrutura HTML da homepage -->
{% extends "homepage.html" %}

{% block titulo %}
 Perfil - {{ usuario }}
{% endblock %}
<!-- Bloco de título que define o título da página como "Perfil - [nome do usuário]" -->

{% block body %}
<body>

<!-- Importa a navbar no perfil-->
{% include "navbar.html" %}
<div class="container">
{% if form %}   <!-- se o form existir , vou ter a classe container com meu formulario -->


    <form class="bloco-add-img"  method="POST" enctype="multipart/form-data">
        <!-- Token CSRF para segurança -->
        {{ form.csrf_token }}
      <!-- Cabeçalho principal que exibe o nome do usuário -->
      <h2>{{ usuario.username }} - Enviar foto</h2>

      <div class="bloco-arquivo">
        <label for="foto" class="botao-arquivo">
          Escolher arquivo
         <!-- Campo para upload de foto -->
         {{ form.foto(class="input-arquivo", id="foto") }}
        </label>
        <span id="imagem-arquivo" class=""></span>
      </div>
          <!-- Botão de confirmação -->
        {{ form.botao_confirmacao(class="botao-login") }}
    </form>

{% else %}
<div class="bloco-add-img">
     <h2>{{ usuario.username }} - Ver Perfil</h2>
</div>
{% endif %}   <!-- Fim do formulário -->

 <div class="conteudo">
  {% for foto in usuario.fotos %}
    <div class="bloco-imagem">
      <img src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}"/>
    </div>


 {% endfor %}  <!-- Fim do for -->
 </div>

</div>  <!-- Fim do container -->

 <script>
  let input = document.getElementById("foto");
  let imagemArquivo = document.getElementById("imagem-arquivo");

  input.addEventListener("change", () => {
    let inputImagem = document.querySelector("input[type=file]").files[0];

    imagemArquivo.classList.add("visivel");
    imagemArquivo.innerText = inputImagem.name;
  });
</script>

   </body>
{% endblock %}
<!-- Fim do bloco de corpo -->



